<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/024526c3f6.js" crossorigin="anonymous"></script>
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        {% endblock %}

        <title>Sipho Dingani</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>