{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
{% include "header.html" %}

    <main>
      <div class="row">
        <div class="col-lg-6 col-md-6">
<!--      {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
      <br>
      <div><i class="fa-solid fa-phone fa-xl"></i> +27 79 914 9833</div>
      <br>
      <div><i class="fa-solid fa-envelope fa-xl"></i> sdingani@yahoo.com</div>
      <br>

      <div class="row">
        <div class="col-2"><a class="link-light" href="https://www.linkedin.com/in/sipho-dingani-338018140/"><i class="fa-brands fa-linkedin fa-3x"></i></a></div>
        <div class="col-2"><a class="link-light" href="https://github.com/skd-alt"><i class="fa-brands fa-github fa-3x"></i></a></div>
</div>
          </div>
        <div class="col-lg-6 col-md-6">
            <img class="" src="{{ url_for('static', filename='images/pic.png') }}">
        </div>
        </div>





    </main>

{% include "footer.html" %}

{% endblock %}
