</div>
  <footer>
    <div><img src="{{ url_for('static', filename='images/footer.jpg') }}"></div>
    <div class="footer-band">
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 Sipho Dingani. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-light" href="https://www.linkedin.com/in/sipho-dingani-338018140/"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
          <li class="ms-3"><a class="link-light" href="https://github.com/skd-alt"><i class="fa-brands fa-github fa-xl"></i></a></li>

        </ul>
      </div>
    </div>
  </footer>