<div class="col-lg-10 mx-auto p-5 py-md-5">
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid ps-5 pe-5">
            <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" width="50%" height="50%"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link {% if request.path == '' %} active{% endif %}" aria-current="page" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contact') }}">Contact Me</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>
      </header>
    </div>